image "redis" reference="docker.io/library/redis:7.0-alpine"

network "redis" {
    dns-enabled
    // internal // uncomment to disable internet access through this network
}

volume "redis-data"

container "redis" {
    image "redis"
    command "redis-server /etc/redis/redis.conf"
    network "redis" {
        alias "redis.local"
    }
    mount type="volume" name="redis-data" destination="/data"
    inject at="/etc/redis" path="redis.conf"
}
